%p
  Dear Dr.
%p
  I am an undergraduate student in the field of Metallurgical and Materials Engineering at INDIAN INSTITUTE OF
  TECHNOLOGY KHARAGPUR, one of the premier and most reputed institutes of India. I am currently in my 3rd year.
%p
  I visited your online profile and read an abstract of your publication "
  %b
    = @contact.publication
  " and found it very interesting as im very interested in solidification, powder metallurgy, deformation behaviour of materials, mechanical working, phase transformation and heat treatment. It would really be an honour to work under you as i would get to learn a lot in this field. Infact im doing a project right now to 
  %b
    Determine the effect of strain on the pearlite content in steel.

%p
  Sir, I have a bright academic record.I have done my schooling from C.B.S.E.(Central Board of Secondary Education) which is the most reputed education board in India, securing 95.4% in Secondary School Exam-2007 and 85.8% in Senior Secondary Exam -2009. I have cleared JEE 2009, organised by IITs and getting a score of 99% percentile,in which more than 400,000 candidates appeared.. At graduate level, my current (Cumulative Grade Point Average) C.G.P.A. is 7.22 (*on scale of 10). I have an aptitude for programming languages and i know my way around a lot of softwares.

%p
  I am interested in doing a project under your able guidance as a part of my training during May-July 2012.
%p
  Kindly have a look at my resume at 
  = "here" , "http://sricharan-resume.heroku.com/" 
%p
  Waiting for your reply
%p
  Warm Regards
%p 
  Sricharan Sunder
  %br
  Junior Year Student
  %br
  Metallurgical and Materials Engineering
  %br
  Indian Institue of Technology, Kharagpur
  %br
